@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
title{
  color:red;
}
body{
  margin: 0% 0%;
  text-align: center;
  font-family: Arial,Georgia,"cwTeXKai";
  background-color: #F2f9FF;
}
#header{
  border-radius: 0px 0px 40% 40%;
  z-index:3;
  top:0;
  padding-top:10px;
  padding-bottom:20px;
  position: fixed;
  width:100vw;
  background-color:#FFFFFF;
  box-shadow:0px 0px 5px 3px #DEE1E5;
}
#setting{
  z-index:4;
  width:40px;
  height:40px;
  left:5vw;
  background-repeat: no-repeat;
  float:left;
  background-size:contain;
  background-image: url(https://luffy.ee.ncku.edu.tw/~E24056140/picture/WMF-Agora-Settings_808080.svg.png);
  position: fixed;
  top:15px;
}
#escape{
  z-index:4;
  width:40px;
  height:40px;
  right:5vw;
  background-repeat: no-repeat;
  float:right;
  background-size:contain;
  background-image: url(https://luffy.ee.ncku.edu.tw/~E24056140/picture/Grey_close_x.svg.png);
  position: fixed;
  top:15px;
}
#logo{
  color:rgb(255, 99, 71);
  font-size: 50px;
  text-align:center;
  font-family: Georgia,"cwTeXKai";
 }
#power{
  text-align:center;
  font-family: "Times New Roman";
  padding-left: 15em;
  font-size:18px;
}
.content {
  box-shadow: 0px 0px 15px 10px #DEE1E5;
  background-color: #FFFFFF;
  margin: 50px auto;
  margin-top: 100px;
 // border: 5px solid rgb(192,192,192);
  font-size: 25px; 
  width: 700px;
 //float: left;
 //text-align: right;
 padding-bottom:80px;
  position:relative;
  top:100px;
}
.food,.store,.price,.point,.word{
  //padding-left:20px;
  //text-align: left;
  position:relative;
  top:-60px;
  //font-size:30px;
}
.food{
  font-weight:bold;
  font-size: 35px;

}
.store{
  color: #134484;
  float: left;
  font-weight:bold;
  font-size: 30px;
  width:29%;
  //position:relative;
  top:-10px;
  padding-left:30px;
  
}
.point{
  color: #134484;
  float:left;
  font-weight:bold;
  font-size: 35px;
  width:30%;
  font-family: "Maiandra GD";
  //position:relative;
  top:-20px;
  text-align:center;
  padding-left:18px;
}
.price{
  color: #134484;
  float:left;
  font-weight:bold;
  font-size: 30px;
 width:30%;
  //position:relative;
  top:-10px;
  text-align:center;
  padding-left:20px;
}
img{
  display: block;
  margin: auto;
  width:25%;
  border-radius:50%;
  position:relative;
  top:-70px;
}

